<!DOCTYPE html>
<html lang="en" data-color-mode="light" data-light-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Oopsie{% endblock %}</title>
  <link rel="stylesheet" href="https://unpkg.com/@primer/css@21/dist/primer.css">
  <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
  <header class="Header" data-color-mode="dark" data-dark-theme="dark">
    <div class="Header-item">
      <a href="/projects" class="Header-link f4 text-bold">Oopsie</a>
    </div>
    <div class="Header-item">
      <a href="/projects" class="Header-link">Projects</a>
    </div>
    <div class="Header-item">
      <a href="/projects/new" class="Header-link">New Project</a>
    </div>
  </header>
  <main class="container-lg p-responsive py-4">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
